
/* =============================================================
   GENERAL STYLES
   ============================================================ */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom:72px;
  color: #362922;
  line-height: 2em;
  font-size: 16px;
}
.accordion > h3 {
  font-size: 25px;
  margin: 10px 4em 10px 0.5em;
}
h4 {
  margin-top: 20px;
}
i {
  width:1em;
  text-align: center;
}
.basic-set {
  padding-top:50px;
  padding-bottom:80px;
}
.head-line {
  font-family: 'Montserrat', sans-serif;
  font-size:1.5em;
  color: #57492b;
  padding-bottom:0.5em;
  text-transform:uppercase;
  font-weight:500;
  letter-spacing: 0.3em;
}
.subheading {
  font-family: 'Montserrat', sans-serif;
  color: #57492b;
  padding-bottom:60px;
  text-transform:uppercase;
  font-weight:500;
  letter-spacing: 0.3em;
  padding-bottom: 0;
}
.head-line span {
  color:#000;
}
.black-btn {
  background-color: #000000;
  border-color: #FF0000;
}
.black-btn:hover {
  background-color: #000000;
  border-color: #FF0000;
}
.text-container {
  text-emphasis: center;
  max-width: 50em;
  margin: 0 auto;
}
img.project-logo {
  width:100%;
  max-width: 20em;
  vertical-align: middle;
  margin: 20px;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.hack-idea{
  margin-top: 1em;
}
.accordion {
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #EEEEEE;
}
/* Style the accordion panel. Note: hidden by default */
.collapsible-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.center {
  text-align: center;
}

.sponsor-logo {
  width: 13em;
  max-width: 65%;
  max-height: 11em;
  margin-bottom: 1.5em;
}

.dark {
  background: #F9F6E9;
}

.charity {
  padding: 3em 0;
}
.charity p {
  padding-bottom: 2em;
}

.boxed-block {
  border: 3px solid #F9F6E9;
  background: #FDFFF6;
  padding: 1em;
  margin-bottom: 1em;
}

.boxed-block img {
  max-width:100%;
}

/* =============================================================
   HEADER STYLES
   =========================================================== */

header {
  background: #eee0ac;
  background-image: url('../img/texture.png');
  background-size: cover;
  background-repeat: repeat;
  padding: 2em;
}

.header-image {
  height: 300px;
}


/* =============================================================
   NAVBAR STYLES
   =========================================================== */

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px solid transparent;
}

.navbar-inverse {
  background-color: #0E0E0E;
  border-top: 1px solid #000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color:#EBC27B;
  cursor: pointer;
}
.navbar-inverse .navbar-nav > li > a {
  color:#fff;
  font-size:16px;
  padding:30px 20px;
}
.navbar-toggle {
  margin-bottom: 30px;
}

#nav-wrapper {
  left: 0;
  width: 100%;
  z-index: 999;
  bottom:0px;
  position: fixed;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.schedule-list {
  width: 70%;
  margin: 0 auto;
}
.schedule-list li {
  list-style: none;
  text-align: left;
  font-size: 1.2em;
}
.schedule-time, .schedule-padding {
  display: inline-block;
  width: 4em;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  padding-right: 1em;
  text-align: right;
}

.active {
  font-weight: 700;
}

.padded-container {
  padding: 1em;
}
/* =============================================================
   SERVICES SECTION STYLES
   ============================================================ */
   .txt-block {
  padding-bottom:30px;
}


/* =============================================================
   JUST TEXT SECTION STYLES
   ============================================================ */
   #Just-text {
    background-color:#000;
  }
  .mid-txt {
  padding-top:40px;
  padding-bottom:40px;
  font-size:30px;
  font-weight:900;
  color:#fff;
}

/*==========================================
   SCHEDULE STYLES
   =====================================================*/

#schedule {
  padding-top: 10px; 
  min-height:550px;
}

/*==========================================
   SCHEDULE FILTER STYLES
   =====================================================*/
   ul#filters {
   padding: 0px;
 }
 #filters {
   margin: 3% 0;
   padding: 0;
   list-style: none;
   text-align: center;
 }
 #filters li {
  display: -webkit-inline-box;
}
#filters li span {
  display: block;
  padding: 5px 4px;
  text-decoration: none;
  color: #d51111;
  cursor: pointer;
  font-size: 18px;
}


/* =============================================================
   CONTACT SECTION STYLES
   ============================================================ */
#contact-sec {
  background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  -webkit-background-size: cover;
  color:#fff;
}
#contact-sec .overlay {
  background-color:rgba(0, 0, 0, 0.5);
  min-height: 500px;
}
#contact-sec .social {
  padding-top:30px;
}
#contact-sec .social a {
  font-size:25px; 
  padding:10px 30px;
  text-decoration:none;
  color:#fff;
  display:block;
  max-width:200px;
  margin-bottom:20px;
}
#contact-sec .subscribe {
  padding-top:30px;
  background-color:#000;
  color:#fff;
  height:100%;
}

#contact-sec h2 {
  font-weight:900;
  color:#f00;
}